# exclude everything
Output/*
node_modules/*
Library/Secrets/
Library/.DS_Store*
node-xmlhttprequest*
! Library/Models/
Library/Models/*
!Library/Models/*MyAlgo.js
# ignore stupid mac file
**/.DS_Store
