# exclude everything
Output/*
node_modules/*
Library/Secrets/*Azure.js
Library/Secrets/*AlpacaCreds.js
Library/.DS_Store*
node-xmlhttprequest*
Library/Models/*
!Library/Models/*MyAlgo.js
# ignore stupid mac file
**/.DS_Store
